*.coffea
*.pyc
*.py~
.ipynb_checkpoints/
\#*
*.cc
plotting/plot/
src/BTVNanoCommissioning/version.py
src/BTVNanoCommissioning.egg-info/
__pycache__
src/Hpluscharm/
workflows/__pycache__/
.vscode/
dask-report.html
dask-worker-space/
.job_wrapper_failure
