*.coffea
*.pyc

*.py~
.ipynb_checkpoints/
\#*

docs/_build/
runinfo/
plot/
plotting/plot/
src/BTVNanoCommissioning/version.py
src/BTVNanoCommissioning/jsonpog-integration/examples/
src/BTVNanoCommissioning.egg-info/
__pycache__
workflows/__pycache__/
.vscode/
dask-report.html
dask-worker-space/
.job_wrapper_failure
jobs_*
.success
